# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.pytest_cache/

# Environment Variables (Secrets)
.env

# Database & Storage
postgres_data/
*.db
*.sqlite3

# Logs & Celery
*.log
celerybeat-schedule

# OS Specific
.DS_Store
Thumbs.db
